<header id="header">

    <title>Sarah Usher</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">

    <h1><a href="{{site.baseurl}}/index">Sarah Usher</a></h1>
    <nav class="links">
        <ul>
            <li><a href="/techblog">Data Engineering</a></li>
            <li><a href="/teamblog">People & Teams</a></li>
<!--            <li><a href="/blog">Life</a></li>-->
            <li><a href="/mentorship">Mentorship</a></li>
            <li><a href="https://ladiesofcodegroupsessions.github.io/">Group Coding Sessions</a></li>
        <!--
            <li><a href="#">Tempus</a></li>
            <li><a href="#">Adipiscing</a></li>
        -->
        </ul>
    </nav>

    <nav class="main">
        <ul>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>

</header>