<header id="header">

    <title>Sarah Usher</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />

    <h1><a href="{{site.baseurl}}/index/">Sarah Usher</a></h1>
    <nav class="links">
        <ul>
            <li><a href="/">Data Engineering</a></li>
            <li><a href="#">People & Teams</a></li>
            <li><a href="/blog">Non Work</a></li>
        <!--
            <li><a href="#">Tempus</a></li>
            <li><a href="#">Adipiscing</a></li>
        -->
        </ul>
    </nav>

    <nav class="main">
        <ul>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>

</header>

<!--<section id="menu">-->
    <!--<section>-->
        <!--<ul class="links">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<h3>Lorem ipsum</h3>-->
                    <!--<p>Feugiat tempus veroeros dolor</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<h3>Dolor sit amet</h3>-->
                    <!--<p>Sed vitae justo condimentum</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<h3>Feugiat veroeros</h3>-->
                    <!--<p>Phasellus sed ultricies mi congue</p>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<h3>Etiam sed consequat</h3>-->
                    <!--<p>Porta lectus amet ultricies</p>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</section>-->
<!--</section>-->