<!DOCTYPE HTML>

<html>

<body class="single is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->

		{% include header.html %}

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<article class="post">
				<header>
					<div class="title">
						<h2>{{ page.title }}</h2>
					</div>
					<div class="meta">
						<div class="published">{{ page.date | date: "%B %d, %Y" }}</div>
						<a href="#" class="author"><span class="name">Sarah Usher</span><img src="/images/sarah.jpg"
								alt="" /></a>
					</div>
				</header>
				<span class="image featured"><img src="{{ page.image }}" alt="" /></span>
				<p>

					{{ content }}

				</p>
			</article>

		</div>

		<!-- Footer -->

		{% include footer.html %}

	</div>

	<!-- Scripts -->
	<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/util.js"></script>
	<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>