<!DOCTYPE HTML>

<html>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->

		{% include header.html %}

		<!-- Main -->
		<div id="main">

			<!-- Post -->

			{% for post in site.posts limit:1 %}
				<article class="post">
					<header>
						<div class="title">
                            <p>Latest Blog Post</p>
							<h2><a href="{{ post.filename }}">{{ post.title }}</a></h2>
						</div>
						<div class="meta">
							<div class="published">{{ post.date | date: "%B %d, %Y" }}</div>
							<a href="#" class="author"><span class="name">Sarah Usher</span><img src="/images/sarah1.jpg"
																								 alt="image of author" /></a>
						</div>
					</header>
					<a href="{{ post.filename }}" class="image featured"><img src="{{ post.image }}" alt="" /></a>
					<p> {{ post.excerpt }} </p>
					<footer>
						<ul class="actions">
							<li><a href="{{ post.filename }}" class="button large">Continue Reading</a></li>
						</ul>
					</footer>
				</article>
			{% endfor %}

<!--            <a href="/blog" class="button large">More Posts...</a>-->




		</div>

		<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><img src="/images/sarah1.jpg" alt="" /></a>
				<header>
					<h2>Sarah Usher</h2>
					<p>Polyglot</p>
					<p>Big Data</p>
					<p>Speaker</p>
					<p>Mentor</p>
				</header>
			</section>

			<!-- About -->
			<section class="blurb">
				<h2>About</h2>
				<p>Sarah hails from sunny South Africa and is currently living in London. She has been building useful software for
					10 years and is currently focused on Data Engineering, Backend Engineering, Data Products and Analytics as well as community work through Ladies of Code London.</p>
			</section>

			<!-- Footer -->
			{% include footer.html %}
		</section>

	</div>

	<!-- Scripts -->
	<script src="{{site.baseurl}}assets/js/jquery.min.js"></script>
	<script src="{{site.baseurl}}assets/js/browser.min.js"></script>
	<script src="{{site.baseurl}}assets/js/breakpoints.min.js"></script>
	<script src="{{site.baseurl}}assets/js/util.js"></script>
	<script src="{{site.baseurl}}assets/js/main.js"></script>

</body>

</html>