<!DOCTYPE HTML>

<html>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->

		{% include header.html %}

		<!-- Main -->
		<div id="main">

			<!--&lt;!&ndash; Post &ndash;&gt;-->
			<!--<article class="post">-->
				<!--<header>-->
					<!--<div class="title">-->
						<!--<h2><a href="single.html">Magna sed adipiscing</a></h2>-->
						<!--<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>-->
					<!--</div>-->
					<!--<div class="meta">-->
						<!--<div class="published">November 1, 2015</div>-->
						<!--<a href="#" class="author"><span class="name">Sarah Usher</span><img src="/images/sarah.jpg"-->
								<!--alt="" /></a>-->
					<!--</div>-->
				<!--</header>-->
				<!--<a href="single.html" class="image featured"><img src="/images/pic01.jpg" alt="" /></a>-->
				<!--<p>Everyone works with data, integration and code but in a slightly different way. Data-engineering is a new specialisation and is not completely different from application engineering but it comes with different paradigms and challenges. Understanding the differences on both sides will ultimately help both roles work together better (your metadata will thank you!). And it’s also worth knowing that it’s possible to go between both roles if you feel like a change or challenge!</p>-->
				<!--<footer>-->
					<!--<ul class="actions">-->
						<!--<li><a href="single.html" class="button large">Continue Reading</a></li>-->
					<!--</ul>-->
				<!--</footer>-->
			<!--</article>-->


			<!-- Post -->

			{% for post in site.posts limit:1 %}
				<article class="post">
					<header>
						<div class="title">
                            <p>Latest Blog Post</p>
							<h2><a href="{{ post.filename }}">{{ post.title }}</a></h2>
						</div>
						<div class="meta">
							<div class="published">{{ post.date | date: "%B %d, %Y" }}</div>
							<a href="#" class="author"><span class="name">Sarah Usher</span><img src="/images/sarah.jpg"
																								 alt="image of author" /></a>
						</div>
					</header>
					<a href="{{ post.filename }}" class="image featured"><img src="{{ post.image }}" alt="" /></a>
					<p> {{ post.excerpt }} </p>
					<footer>
						<ul class="actions">
							<li><a href="{{ post.filename }}" class="button large">Continue Reading</a></li>
						</ul>
					</footer>
				</article>
			{% endfor %}

            <a href="/blog" class="button large">More Posts...</a>




		</div>

		<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><img src="/images/sarah.jpg" alt="" /></a>
				<header>
					<h2>Sarah Usher</h2>
					<p>Polyglot</p>
					<p>Big Data</p>
					<p>Leader</p>
					<p>Mentor</p>
				</header>
			</section>

			<!--&lt;!&ndash; Mini Posts &ndash;&gt;-->
			<!--<section>-->
				<!--<div class="mini-posts">-->

					<!--&lt;!&ndash; Mini Post &ndash;&gt;-->
					<!--<article class="mini-post">-->
						<!--<header>-->
							<!--<h3><a href="single.html">Vitae sed condimentum</a></h3>-->
							<!--<div class="published">October 20, 2015</div>-->
							<!--<a href="#" class="author"><img src="/images/sarah.jpg" alt="" /></a>-->
						<!--</header>-->
						<!--<a href="single.html" class="image"><img src="/images/pic04.jpg" alt="" /></a>-->
					<!--</article>-->

					<!--&lt;!&ndash; Mini Post &ndash;&gt;-->
					<!--<article class="mini-post">-->
						<!--<header>-->
							<!--<h3><a href="single.html">Rutrum neque accumsan</a></h3>-->
							<!--<div class="published">October 19, 2015</div>-->
							<!--<a href="#" class="author"><img src="/images/sarah.jpg" alt="" /></a>-->
						<!--</header>-->
						<!--<a href="single.html" class="image"><img src="/images/pic05.jpg" alt="" /></a>-->
					<!--</article>-->

				<!--</div>-->
			<!--</section>-->

			<!--&lt;!&ndash; Posts List &ndash;&gt;-->
			<!--<section>-->
				<!--<ul class="posts">-->
					<!--<li>-->
						<!--<article>-->
							<!--<header>-->
								<!--<h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>-->
								<!--<div class="published">October 20, 2015</div>-->
							<!--</header>-->
							<!--<a href="single.html" class="image"><img src="/images/pic08.jpg" alt="" /></a>-->
						<!--</article>-->
					<!--</li>-->
					<!--<li>-->
						<!--<article>-->
							<!--<header>-->
								<!--<h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>-->
								<!--<div class="published">October 15, 2015</div>-->
							<!--</header>-->
							<!--<a href="single.html" class="image"><img src="/images/pic09.jpg" alt="" /></a>-->
						<!--</article>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</section>-->

			<!-- About -->
			<section class="blurb">
				<h2>About</h2>
				<p>Sarah Usher is a South African Software Developer, living in London. She has been building useful software for
					10 years and is currently focused on Data Engineering & Data Products as well as community work through Ladies of Code London.</p>
				<!--<ul class="actions">-->
					<!--<li><a href="#" class="button">Learn More</a></li>-->
				<!--</ul>-->
			</section>

			<!-- Footer -->
			{% include footer.html %}
		</section>

	</div>

	<!-- Scripts -->
	<script src="{{site.baseurl}}assets/js/jquery.min.js"></script>
	<script src="{{site.baseurl}}assets/js/browser.min.js"></script>
	<script src="{{site.baseurl}}assets/js/breakpoints.min.js"></script>
	<script src="{{site.baseurl}}assets/js/util.js"></script>
	<script src="{{site.baseurl}}assets/js/main.js"></script>

</body>

</html>