<!DOCTYPE HTML>

<html>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->



	{% include header.html %}

	<!-- Main -->
	<div id="main" class="post">

		<b> I offer the following for career entrants, associate and mid-level developers: </b>
		<ol>
			<li> Realistic Career Guidance / Plotting </li>
			<li> Portfolio building for Software Engineering, Data Engineering, Data Analytics & Testing roles</li>
			<li> Technical teaching and practice (to skill up), project advice and code review </li>
			<li> Industry & interview advice </li>
			<li> Public speaking review and practice for new speakers </li>
		</ol>

		<div>
			<b> You can find me in the Women Who Code & Ladies of Code London Slack groups as well as the RecWorks Meet-a-mentor program. </b>
			<ol>
				<li> <a href="https://www.womenwhocode.com/">https://www.womenwhocode.com/</a> </li>
				<li> <a href="https://www.meetup.com/Ladies-of-Code-UK/">https://www.meetup.com/Ladies-of-Code-UK/</a> </li>
				<li> <a href="https://meetamentor.co.uk/">https://meetamentor.co.uk/</a> </li>
			</ol>
		</div>

		<div>
			<i>I've helped over 30 people get into and stay in tech. Find me in one the above communities or get in touch directly.</i>
		</div>

		<div>
			<span class="image featured"><img src="/images/irit-keynan-hbZK36IGvqU-unsplash.jpg" alt="cat reading a book" /></span>
			<div>Image Attribution: https://unsplash.com/photos/hbZK36IGvqU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink</div>
		</div>
	</div>

	<!-- Sidebar -->
	<section id="sidebar">

		<!-- Intro -->
		<section id="intro">
			<a href="#" class="logo"><img src="/images/sarah1.jpg" alt="" /></a>
			<header>
				<h2>Sarah Usher</h2>
				<p>Polyglot</p>
				<p>Big Data</p>
				<p>Speaker</p>
				<p>Mentor</p>
			</header>
		</section>

		<!-- About -->
		<section class="blurb">
			<h2>About</h2>
			<p>Sarah hails from sunny South Africa and is currently living in London. She has been building useful software for
				10 years and is currently focused on Data Engineering, Backend Engineering, Data Products and Analytics as well as community work through Ladies of Code London.</p>
			<!--<ul class="actions">-->
			<!--<li><a href="#" class="button">Learn More</a></li>-->
			<!--</ul>-->
		</section>

<!--		https://unsplash.com/photos/hbZK36IGvqU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink-->

		<!-- Footer -->
		{% include footer.html %}
	</section>

</div>

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>