<!DOCTYPE HTML>

<html>

<body class="single is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->

		{% include header.html %}

		<!-- Main -->
		<div id="main">

		I offer the following services for free to non-binary and women folk:
			Career Guidance / Plotting for associate and mid-level
			Portfolio building for Software Engineering, Data Engineering, Data Analytics & Testing
			Industry & interview advice / query answering
			Public speaking
			Technical up-skilling projects
		</div>

		<div>
			To put here: links to communities
		</div>

		<!-- Footer -->

		{% include footer.html %}

	</div>

	<!-- Scripts -->
	<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/util.js"></script>
	<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>